.element__like-button_counter {
    display: flex;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    border: 0;
    margin: 0 22px 22px 6px;
    padding: 0;
}