.profile__avatar {
    cursor: pointer;
    background-image: url('../../../../images/Pencil_for_changing_avatar.svg');
/*background-image: url('../../../../images/Edit_Button_profile.svg');*/
    background-size: 26px;
    background-position: center;
    background-repeat: no-repeat;
}
